/* CSS styles for the menu */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    text-align: center;
    font-family: Arial, sans-serif;
    left: 0; /* Set left to 0 to fill the screen width */
}

.header h2 {
    margin: 0;
    padding: 20px 0; 
    text-align: center !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section img {
    margin: 0 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center !important;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}

#toggle {
    display: none;
}

#toggle:checked + .dropdown-content {
    display: block;
}

/* Adjust the styles for the dropdown content */
.dropdown-content {
    display: none;
    position: fixed; /* Change position to fixed */
    background-color: rgba(1, 76, 9, 1);
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 100px;
    padding: 20px;
    box-sizing: border-box;
    left: 0; /* Set left to 0 to fill the screen width */
}

/* Adjust the styling of the menu items */
.dropdown-content a {
    display: block;
    font-size: 28px;
    padding: 30px;
    text-decoration: none;
    color: white;
}

/* Adjust the spacing between menu items */
.dropdown-content a:not(:last-child) {
    margin-bottom: 20px;
}

/* Adjust the styles for the hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.hamburger-menu span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    display: block;
}

/* Your other CSS styles */

.wormenhotel {
    background-image: url('../images/achtergrondwormenhotel.png');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 17%;
    margin: 0;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.text-section-reverse {
    flex-direction: row-reverse;
}

.text-section p, .text-section-reverse p {
    width: 50%;
}

.text-section img, .text-section-reverse img {
    width: 100px;
    height: 100px;
}

.rotate-image {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .header h2 {
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }
}
